<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      h2{
        background-color: skyblue;
        text-align:center;
        color:indigo;
        border: 2px solid red;
      }
      body{
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <h2>{{book.name}} Book Detail Information</h2>

    <ul>
      <li>Name:{{book.name}}</li>
      <li>Author:{{book.author}}</li>
      <li>Price:{{book.price}}</li>
      <li>PublishedDate:{{book.p_date}}</li>
    </ul>
  </body>
</html>
